<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>바다 거북 스프</title>
    <link
        href="https://w7.pngwing.com/pngs/111/174/png-transparent-green-turtle-illustration-turtle-emoji-android-oreo-turtle-animals-vertebrate-grass-thumbnail.png"
        rel="shortcut icon" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" , href={% static 'css/style.css' %}>
</head>

<body>
    <header>
        <div class="nav-container">
            <a class="title" , href="/main"><img src={% static 'img/mock_turtle_soup.png' %} , width="200px" ,
                    height="40px"></a>
            <div class="nav-contents">
                <ul class="button-set"></ul>
                <ul class="button-set">
                    <button class="inline-button">문제 목록</button>
                    <button class="inline-button">문제 만들기</button>
                    <button class="inline-button">무작위 문제</button>
                    <button class="inline-button" , onclick="location.href = '/login'">로그인</button>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="login-page">
            <div class="login-box">
                <form method="post">
                    {% csrf_token %}
                    <div class="login-alert-total"> ID 혹은 패스워드가 올바르지 않거나 회원가입하지 않은 ID입니다.</div>
                    <div><input type="text" , class="login-input" , name="txt_login_id" , id="txt_login_id" ,
                            placeholder="아이디"></div>
                    <div class="login-alert-id">ID를 입력해주세요.</div>
                    <div><input type="password" , class="login-input" , name="txt_password" , id="txt_password" ,
                            placeholder="비밀번호"></div>
                    <div class="login-alert-pw">패스워드를 입력해주세요.</div>
                    <button class="login-button" , type="submit">바다거북스프 로그인</button>
                </form>
                {% if txt_login_id %}
                <div>
                    <p><strong>사용자: </strong>{{ txt_login_id }}</p>
                </div>
                <div>
                    <p><strong>Gemini: </strong>{{ txt_password }}</p>
                </div>
                {% endif %}
                {% if error_message %}
                <div>
                    <p><strong>에러가 발생했습니다! : </strong>{{ error_message }}</p>
                </div>
                {% endif %}
                <div class="login-assist">
                    <a class="hlink" href="/register">회원가입</a>
                    <a class="hlink" href="/findID">ID 찾기</a>
                    <a class="hlink" href="/findPW">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </main>

</body>

</html>