<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>장고북스</title>
</head>

<body>
    도서 목록 페이지
    {% if questions_list %} <!-- 매핑된 도서 리스트가 있는지, 있다면 내용이 있는지 확인 -->
    <div class="row">
        <div class="book-items">
            {% for question in questions_list %} <!-- 반복문을 통해 도서에 대한 내용 출력 -->
            <div class="col-12 item">
                <div class="metadata">
                    <div class="title">
                        <th>바다거북스프</th>
                    </div>
                    <table class="bibil">
                        <tr>
                            <th>괴담</th>
                            <td>{{question.question_text}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %} <!-- 중요한 점은 반복문의 끝에는 항상 이렇게 end를 넣어주어야 한다. -->
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="no-result">
                <p><b>{{search_input}}</b>문제가 없습니다</p>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>